<div class="content">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div flex="{{layoutColumnOneWidth}}">
            <typeahead-input
                    (selectionEvent)="filterListBySearchString($event)"
                    [placeHolderText]="placeHolderText"
                    [searchList]="objectTitleList"
                    [typeAheadIsInMenu]="typeAheadIsInMenu">
            </typeahead-input>
            <filter-list #filterComponent
                         (tagSelectEvent)="filterTag.updateFilterList($event)"
                         [facet_tags]="facetTags">

            </filter-list>
        </div>
        <div flex="{{layoutColumnTwoWidth}}">
            <br>
            <filter-tag #filterTag
                        (updateFilterListEvent)="filterListByTags($event)">
            </filter-tag>

            <div class="list-content" [perfectScrollbar]>
                <ng-template [ngForOf]="objectList" [ngForTemplate]="template" ngFor></ng-template>
            </div>
        </div>
    </div>
</div>
