<div class="fab-container">
    <button mat-fab class="fab-toggler"
            (click)="onToggleFab()">
        <mat-icon [@fabToggler]="{value: fabTogglerState}">add</mat-icon>
    </button>
    <div [@speedDialStagger]="buttons.length">
        <ng-container *ngFor="let btn of buttons">
            <button mat-mini-fab
                    *jhiHasAnyAuthority="btn.roles"
                    matTooltip="{{btn.tooltip}}"
                    [routerLink]="['..', btn.state, 'new']"
                    class="fab-secondary"
                    color="accent">
                <mat-icon>{{btn.icon}}</mat-icon>
            </button>
        </ng-container>
    </div>
</div>

<div id="fab-dismiss"
     *ngIf="fabTogglerState==='active'"
     (click)="onToggleFab()">
</div>
