<div [dragData]="instanceId" [dragEnabled]="true"
     [dropZones]="['c0','c1','c2','c3','r0','r1']" class="ui  center aligned segment gadget" dnd-draggable>

    <a class="ui left corner label">
        <i [ngClass]="{'green':inRun, 'yellow':!inRun}" class="heart icon"></i>
    </a>

    <widget-header
            (helpEvent)="helpModal.showHelp()"
            (mouseleave)="showWidgetControls(false)"
            (mouseover)="showWidgetControls(true)"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (toggleConfigModeEvent)="toggleConfigMode()"
            [actionInitiated]="actionInitiated"
            [widgetHasOperationControls]="widgetHasOperationControls"
            [globalOptions]="globalOptions"
            [inConfig]="inConfig"
            [inRun]="inRun"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            [showOperationControls]="showOperationControls"
            [title]="title">
    </widget-header>

    <div class="ui grid">
        <div class="row">
            <div *ngIf="!inConfig" style="min-height: 275px">
                <ngx-charts-line-chart
                        (select)="drillDownPopUp.showDetail($event)"
                        [autoScale]="autoScale"
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [results]="multi"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [view]="view"
                        [xAxisLabel]="xAxisLabel"
                        [xAxis]="showXAxis"
                        [yAxisLabel]="yAxisLabel"
                        [yAxis]="showYAxis">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>

    <dynamic-form (updatePropertiesEvent)="updateProperties($event)"
                  *ngIf="inConfig"
                  [widgetTags]="widgetTags"
                  [instanceId]="instanceId"
                  [propertyPages]="configPages">
    </dynamic-form>

    <app-error-handler
            [errorExists]="errorExists"
            [errorObject]="errorObject">
    </app-error-handler>

    <drill-down-modal #drillDownPopUp></drill-down-modal>

    <app-help-modal #helpModal [topic]="topic"></app-help-modal>

    <div *ngIf="actionInitiated" class="ui bottom attached">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>


</div>


