<div>
    <h2 mat-dialog-title>Add Widget</h2>
    <mat-dialog-content [perfectScrollbar]>
        <data-list
                [facetTags]="facetTags"
                [layoutColumnOneWidth]="layoutColumnOneWidth"
                [layoutColumnTwoWidth]="layoutColumnTwoWidth"
                [listHeader]="listHeader"
                [objectList]="widgetObjectList"
                [objectTitleList]="gadgetObjectTitleList"
                [placeHolderText]="placeHolderText"
                [typeAheadIsInMenu]="typeAheadIsInMenu">

            <ng-template let-item="$implicit">
                <mat-card [@showHideAnimation]>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div fxFlex="70">
                                <img class="ui image" [src]="item.icon">
                                <div class="content">
                                    <div class="header">{{item.name}}</div>
                                    {{item.description}}
                                </div>
                            </div>
                            <div fxFlex="30" fxLayoutAlign="end">
                                <a (click)="actionHandler(item)"
                                   color="primary"
                                   mat-raised-button routerLink=".">
                                    Add
                                </a>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-list *ngFor='let tag of item.tags'>
                            <mat-chip
                                    mat-sm-chip>
                                {{tag.name}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-actions>
                </mat-card>
            </ng-template>
        </data-list>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div mat-button mat-dialog-close>Close</div>
    </mat-dialog-actions>
</div>
