<div [dragData]="instanceId" [dragEnabled]="true"
     [dropZones]="['c0','c1','c2','c3','r0','r1']" class="ui  center aligned segment gadget" dnd-draggable>

    <a class="ui left corner label">
        <i [ngClass]="{'green':inRun, 'yellow':!inRun}" class="circle icon"></i>
    </a>

    <widget-header
            (mouseleave)="showWidgetControls(false)"
            (mouseover)="showWidgetControls(true)"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (toggleConfigModeEvent)="toggleChartProperties()"
            [actionInitiated]="actionInitiated"
            [widgetHasOperationControls]="widgetHasOperationControls"
            [globalOptions]="globalOptions"
            [inConfig]="inConfig"
            [inRun]="inRun"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            [showOperationControls]="showOperationControls"
            [title]="title">
    </widget-header>

    <div class="ui grid">
        <div class="row">
            <ngx-charts-bar-vertical *ngIf="!inConfig && barChartType == 'vertical'" style="min-height: 300px">

            </ngx-charts-bar-vertical>
            <ngx-charts-bar-horizontal *ngIf="!inConfig && barChartType == 'horizontal'" style="min-height: 300px">

            </ngx-charts-bar-horizontal>
            <div *ngIf="!inConfig && barChartType == 'normalizedVertical'" style="min-height: 300px">
                <ngx-charts-bar-vertical-normalized
                        (select)="drillDown($event)"
                        [barPadding]=15
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [results]="data"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [view]="view"
                        [xAxisLabel]="xAxisLabel"
                        [xAxis]="showXAxis"
                        [yAxisLabel]="yAxisLabel"
                        [yAxis]="showYAxis">
                </ngx-charts-bar-vertical-normalized>
            </div>
            <div *ngIf="!inConfig && barChartType == 'normalizedHorizontal'" style="min-height: 300px">
                <ngx-charts-bar-horizontal-normalized
                        (select)="drillDown($event)"
                        [barPadding]=15
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [results]="data"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [view]="view"
                        [xAxisLabel]="xAxisLabel"
                        [xAxis]="showXAxis"
                        [yAxisLabel]="yAxisLabel"
                        [yAxis]="showYAxis">
                </ngx-charts-bar-horizontal-normalized>
            </div>
            <div *ngIf="!inConfig && barChartType == 'stackedHorizontal'" style="min-height: 300px">
                <ngx-charts-bar-horizontal-stacked
                        (select)="drillDown($event)"
                        [barPadding]=15
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [results]="data"
                        [scheme]="colorScheme"
                        [showDataLabel]="showDataLabel"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [view]="view"
                        [xAxisLabel]="xAxisLabel"
                        [xAxis]="showXAxis"
                        [yAxisLabel]="yAxisLabel"
                        [yAxis]="showYAxis">
                </ngx-charts-bar-horizontal-stacked>
            </div>
            <div *ngIf="!inConfig && barChartType == 'stackedVertical'" style="min-height: 300px">
                <ngx-charts-bar-vertical-stacked
                        (select)="drillDown($event)"
                        [barPadding]=15
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [results]="data"
                        [scheme]="colorScheme"
                        [showDataLabel]="showDataLabel"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [view]="view"
                        [xAxisLabel]="xAxisLabel"
                        [xAxis]="showXAxis"
                        [yAxisLabel]="yAxisLabel"
                        [yAxis]="showYAxis">
                </ngx-charts-bar-vertical-stacked>
            </div>
        </div>
    </div>

    <config-form (updatePropertiesEvent)="updateProperties($event)"
                  *ngIf="inConfig"
                  [widgetTags]="widgetTags"
                  [instanceId]="instanceId"
                  [config]="config">
    </config-form>
</div>


