<div [dragData]="instanceId" [dragEnabled]="true"
     [dropZones]="['c0','c1','c2','c3','r0','r1']" class="ui  center aligned segment gadget" dnd-draggable>

    <a class="ui left corner label">
        <i [ngClass]="{'green':inRun, 'yellow':!inRun}" class="circle icon"></i>
    </a>

    <widget-header
            (mouseleave)="showWidgetControls(false)"
            (mouseover)="showWidgetControls(true)"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (toggleConfigModeEvent)="toggleChartProperties()"
            [actionInitiated]="actionInitiated"
            [widgetHasOperationControls]="widgetHasOperationControls"
            [globalOptions]="globalOptions"
            [inConfig]="inConfig"
            [inRun]="inRun"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            [showOperationControls]="showOperationControls"
            [title]="title">
    </widget-header>

    <div class="ui grid">
        <div class="row">
            <ngx-charts-bar-vertical
                    *ngIf="chartType === 'bar-vertical'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [customColors]="customColors"
                    [results]="single"
                    [animations]="animations"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [roundEdges]="roundEdges"
                    [yScaleMax]="yScaleMax"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)"
                    (legendLabelClick)="onLegendLabelClick($event)">
            </ngx-charts-bar-vertical>
            <ngx-charts-bar-horizontal
                    *ngIf="chartType === 'bar-horizontal'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="single"
                    [animations]="animations"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [roundEdges]="roundEdges"
                    [xScaleMax]="xScaleMax"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    (select)="drilldown($event)">
            </ngx-charts-bar-horizontal>
            <ngx-charts-bar-vertical-2d
                    *ngIf="chartType === 'bar-vertical-2d'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [groupPadding]="groupPadding"
                    [roundDomains]="roundDomains"
                    [roundEdges]="roundEdges"
                    [yScaleMax]="yScaleMax"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-vertical-2d>
            <ngx-charts-bar-horizontal-2d
                    *ngIf="chartType === 'bar-horizontal-2d'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [groupPadding]="groupPadding"
                    [roundDomains]="roundDomains"
                    [roundEdges]="roundEdges"
                    [xScaleMax]="xScaleMax"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-horizontal-2d>
            <ngx-charts-bar-vertical-stacked
                    *ngIf="chartType === 'bar-vertical-stacked'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [yScaleMax]="yScaleMax"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-vertical-stacked>
            <ngx-charts-bar-horizontal-stacked
                    *ngIf="chartType === 'bar-horizontal-stacked'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [showDataLabel]="showDataLabel"
                    [xScaleMax]="xScaleMax"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-horizontal-stacked>
            <ngx-charts-bar-vertical-normalized
                    *ngIf="chartType === 'bar-vertical-normalized'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-vertical-normalized>
            <ngx-charts-bar-horizontal-normalized
                    *ngIf="chartType === 'bar-horizontal-normalized'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-horizontal-normalized>
            <ngx-charts-pie-chart
                    *ngIf="chartType === 'pie-chart'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [explodeSlices]="explodeSlices"
                    [labels]="showLabels"
                    [doughnut]="doughnut"
                    [arcWidth]="arcWidth"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [tooltipText]="pieTooltipText"
                    (dblclick)="dblclick($event)"
                    (select)="drilldown($event)">
            </ngx-charts-pie-chart>
            <ngx-charts-advanced-pie-chart
                    *ngIf="chartType === 'advanced-pie-chart'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [valueFormatting]="valueFormatting"
                    [animations]="animations"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [tooltipText]="pieTooltipText"
                    (select)="drilldown($event)">
            </ngx-charts-advanced-pie-chart>
            <ngx-charts-pie-grid
                    *ngIf="chartType === 'pie-grid'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [results]="single"
                    [animations]="animations"
                    [tooltipDisabled]="tooltipDisabled"
                    [tooltipText]="pieTooltipText"
                    (select)="drilldown($event)">
            </ngx-charts-pie-grid>
            <ngx-charts-line-chart
                    *ngIf="chartType === 'line-chart'"
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="dateDataWithOrWithoutRange"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    [xScaleMin]="xScaleMin"
                    [xScaleMax]="xScaleMax"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [timeline]="timeline"
                    [showGridLines]="showGridLines"
                    [curve]="curve"
                    [rangeFillOpacity]="rangeFillOpacity"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-line-chart>
            <ngx-charts-polar-chart
                    *ngIf="chartType === 'polar-chart'"
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    [showGridLines]="showGridLines"
                    [rangeFillOpacity]="rangeFillOpacity"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [showSeriesOnHover]="showSeriesOnHover"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    [curve]="closedCurve"
                    (select)="drilldown($event)">
            </ngx-charts-polar-chart>
            <ngx-charts-bubble-chart
                    *ngIf="chartType === 'bubble-chart'"
                    [view]="view"
                    class="chart-container"
                    [results]="bubble"
                    [animations]="animations"
                    [showGridLines]="showGridLines"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    [xScaleMin]="xScaleMin"
                    [xScaleMax]="xScaleMax"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [minRadius]="minRadius"
                    [maxRadius]="maxRadius"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength">
            </ngx-charts-bubble-chart>
            <ngx-charts-force-directed-graph
                    *ngIf="chartType === 'force-directed-graph'"
                    class="chart-container"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [links]="graph.links"
                    [animations]="animations"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [nodes]="graph.nodes"
                    [scheme]="colorScheme"
                    [view]="view"
                    [tooltipDisabled]="tooltipDisabled"
                    (select)="drilldown($event)">
            </ngx-charts-force-directed-graph>
            <ngx-charts-area-chart
                    *ngIf="chartType === 'area-chart'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="dateData"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    [xScaleMin]="xScaleMin"
                    [xScaleMax]="xScaleMax"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [timeline]="timeline"
                    [showGridLines]="showGridLines"
                    [roundDomains]="roundDomains"
                    [curve]="curve"
                    [tooltipDisabled]="tooltipDisabled"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-area-chart>
            <ngx-charts-area-chart-stacked
                    *ngIf="chartType === 'area-chart-stacked'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="dateData"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [xScaleMin]="xScaleMin"
                    [xScaleMax]="xScaleMax"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [showGridLines]="showGridLines"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [curve]="curve"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-area-chart-stacked>
            <ngx-charts-area-chart-normalized
                    *ngIf="chartType === 'area-chart-normalized'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="dateData"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [showGridLines]="showGridLines"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [curve]="curve"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-area-chart-normalized>
            <combo-chart-component
                    *ngIf="chartType === 'combo-chart'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="comboBarScheme"
                    [colorSchemeLine]="lineChartScheme"
                    [results]="barChart"
                    [animations]="animations"
                    [lineChart]="lineChartSeries"
                    [tooltipDisabled]="tooltipDisabled"
                    [yAxisTickFormatting]="yLeftTickFormat"
                    [yLeftAxisScaleFactor]="yLeftAxisScale"
                    [yRightAxisScaleFactor]="yRightAxisScale"
                    [yRightAxisTickFormatting]="yRightTickFormat"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showGridLines]="showGridLines"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [showRightYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [yAxisLabelRight]="yAxisLabelRight"
                    (select)="drilldown($event)">
            </combo-chart-component>
            <ngx-charts-heat-map
                    *ngIf="chartType === 'heat-map'"
                    class="chart-container"
                    [min]="heatmapMin"
                    [max]="heatmapMax"
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="multi"
                    [animations]="animations"
                    [legend]="showLegend"
                    [gradient]="gradient"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [innerPadding]="innerPadding"
                    [tooltipDisabled]="tooltipDisabled"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-heat-map>
            <ngx-charts-heat-map
                    *ngIf="chartType === 'calendar'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="calendarData"
                    [animations]="animations"
                    [legend]="showLegend"
                    [gradient]="gradient"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxisTickFormatting]="calendarAxisTickFormatting"
                    [tooltipText]="calendarTooltipText"
                    [innerPadding]="innerPadding"
                    [tooltipDisabled]="tooltipDisabled"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-heat-map>
            <ngx-charts-tree-map
                    *ngIf="chartType === 'tree-map'"
                    class="chart-container"
                    [view]="view"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [scheme]="colorScheme"
                    [results]="single"
                    [animations]="animations"
                    [tooltipDisabled]="tooltipDisabled"
                    [labelFormatting]="gdpLabelFormatting"
                    [valueFormatting]="currencyFormatting"
                    [gradient]="gradient"
                    (select)="drilldown($event)">
            </ngx-charts-tree-map>
            <ngx-charts-number-card
                    *ngIf="chartType === 'number-card'"
                    class="chart-container"
                    [view]="view"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [scheme]="colorScheme"
                    cardColor="#232837"
                    emptyColor="#1e222e"
                    [results]="single"
                    [animations]="animations"
                    (select)="drilldown($event)">
            </ngx-charts-number-card>
            <ngx-charts-number-card
                    class="chart-container"
                    [view]="view"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [scheme]="colorScheme"
                    cardColor="#232837"
                    emptyColor="#1e222e"
                    [results]="statusData"
                    [animations]="animations"
                    [valueFormatting]="statusValueFormat"
                    [labelFormatting]="statusLabelFormat">
            </ngx-charts-number-card>
            <ngx-charts-gauge
                    *ngIf="chartType === 'gauge'"
                    class="chart-container"
                    [view]="view"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [results]="single"
                    [animations]="animations"
                    [textValue]="gaugeTextValue"
                    [scheme]="colorScheme"
                    [min]="gaugeMin"
                    [max]="gaugeMax"
                    [units]="gaugeUnits"
                    [angleSpan]="gaugeAngleSpan"
                    [startAngle]="gaugeStartAngle"
                    [showAxis]="gaugeShowAxis"
                    [bigSegments]="gaugeLargeSegments"
                    [smallSegments]="gaugeSmallSegments"
                    [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
                    [tooltipDisabled]="tooltipDisabled"
                    (select)="drilldown($event)"
                    (legendLabelClick)="onLegendLabelClick($event)">
            </ngx-charts-gauge>
            <ngx-charts-linear-gauge
                    *ngIf="chartType === 'linear-gauge'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [animations]="animations"
                    [min]="gaugeMin"
                    [max]="gaugeMax"
                    [value]="gaugeValue"
                    [previousValue]="gaugePreviousValue"
                    [units]="gaugeUnits"
                    (select)="drilldown($event)">
            </ngx-charts-linear-gauge>
            <ngx-charts-line-chart
                    style="position: static; display: inline-block; transform: none;"
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="plotData"
                    [animations]="animations"
                    [legend]="false"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxisLabel]="'angle'"
                    [yAxisLabel]="'radius'"
                    [autoScale]="autoScale"
                    [timeline]="timeline"
                    [showGridLines]="showGridLines"
                    [curve]="curves['Cardinal']"
                    [rangeFillOpacity]="rangeFillOpacity"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-line-chart>
            <ngx-charts-polar-chart
                    style="position: static; display: inline-block; transform: none;"
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="plotData"
                    [animations]="animations"
                    [legend]="false"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [xAxis]="false"
                    [yAxis]="true"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxisLabel]="'angle'"
                    [yAxisLabel]="'radius'"
                    [autoScale]="autoScale"
                    [showGridLines]="showGridLines"
                    [rangeFillOpacity]="rangeFillOpacity"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [showSeriesOnHover]="showSeriesOnHover"
                    [curve]="curves['Cardinal Closed']"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-polar-chart>
            <ngx-charts-tree-map
                    [view]="view"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [scheme]="colorScheme"
                    [results]="treemap"
                    [animations]="animations"
                    [tooltipDisabled]="tooltipDisabled"
                    [gradient]="gradient"
                    (select)="drilldown($event)">
            </ngx-charts-tree-map>
            <ngx-charts-line-chart
                    *ngIf="chartType === 'line-reference-lines'"
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [animations]="animations"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    [timeline]="timeline"
                    [showGridLines]="showGridLines"
                    [curve]="curve"
                    [rangeFillOpacity]="rangeFillOpacity"
                    [roundDomains]="roundDomains"
                    [tooltipDisabled]="tooltipDisabled"
                    [showRefLines]="showRefLines"
                    [showRefLabels]="showRefLabels"
                    [referenceLines]="refLines"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-line-chart>
            <ngx-charts-bar-vertical
                    *ngIf="chartType === 'tooltip-templates'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [customColors]="customColors"
                    [results]="single"
                    [animations]="animations"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)"
                    (legendLabelClick)="onLegendLabelClick($event)">
                <ng-template #tooltipTemplate let-model="model">
                    <h1>
                        {{getFlag(model.name)}}
                    </h1>
                    <h2>{{model.name}}: {{model.value}}</h2>
                </ng-template>
            </ngx-charts-bar-vertical>
            <ngx-charts-sparkline
                    *ngIf="chartType === 'sparkline'"
                    [view]="[100,50]"
                    class="chart-container"
                    [scheme]="'flame'"
                    [results]="sparklineData"
                    [animations]="animations"
                    [curve]="curve">
            </ngx-charts-sparkline>
            <ngx-charts-timeline-filter-bar-chart
                    *ngIf="chartType === 'timeline-filter-bar-chart-demo'"
                    [view]="view"
                    class="chart-container"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="timelineFilterBarData"
                    [animations]="animations"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="'Executions'"
                    [showGridLines]="showGridLines"
                    (onFilter)="onFilter($event)">
            </ngx-charts-timeline-filter-bar-chart>
            <ngx-charts-bar-vertical-stacked
                    *ngIf="chartType === 'bar-vertical-stacked-negative'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="fiscalYearReport"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="'Fiscal Year Report'"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [yScaleMax]="yScaleMax"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-vertical-stacked>
            <ngx-charts-bar-horizontal-stacked
                    *ngIf="chartType === 'bar-horizontal-stacked-negative'"
                    class="chart-container"
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="fiscalYearReport"
                    [animations]="animations"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [legendTitle]="legendTitle"
                    [legendPosition]="legendPosition"
                    (legendLabelClick)="onLegendLabelClick($event)"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="'Fiscal Year Report'"
                    [showGridLines]="showGridLines"
                    [barPadding]="barPadding"
                    [roundDomains]="roundDomains"
                    [showDataLabel]="showDataLabel"
                    [trimXAxisTicks]="trimXAxisTicks"
                    [trimYAxisTicks]="trimYAxisTicks"
                    [maxXAxisTickLength]="maxXAxisTickLength"
                    [maxYAxisTickLength]="maxYAxisTickLength"
                    (select)="drilldown($event)">
            </ngx-charts-bar-horizontal-stacked>
        </div>
    </div>
</div>
</div>

<dynamic-form (updatePropertiesEvent)="updateProperties($event)"
              *ngIf="inConfig"
              [widgetTags]="widgetTags"
              [instanceId]="instanceId"
              [config]="config">
</dynamic-form>
</div>


