<td-search-box backIcon="arrow_back" class="push-right-sm"
               placeholder={{placeHolderText}} [debounce]="300"
               [(ngModel)]="query"
               (searchDebounce)="filter()"
               (search)="filter()"
               (clear)="query = ''" flex>
</td-search-box>

<div *ngIf='filteredList.length > 0' class='suggestions'>
    <ul style='list-style-type:none; background: white; border-radius: 7px;'>
        <li *ngFor='let item of filteredList' style='padding:5px'>
            <a (click)='select(item)'>{{item}}</a>
        </li>
    </ul>
</div>
