<mat-card [dragData]="instanceId" [dragEnabled]="true"
     [dropZones]="['c0','c1','c2','c3','r0','r1']" dnd-draggable>

    <a class="ui left corner label">
        <i [ngClass]="{'green':inRun, 'yellow':!inRun}" class="circle icon"></i>
    </a>

    <widget-header
            (mouseleave)="showWidgetControls(false)"
            (mouseover)="showWidgetControls(true)"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (toggleConfigModeEvent)="toggleConfigMode()"
            [actionInitiated]="actionInitiated"
            [widgetHasOperationControls]="widgetHasOperationControls"
            [globalOptions]="globalOptions"
            [inConfig]="inConfig"
            [inRun]="inRun"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            [showOperationControls]="showOperationControls"
            [title]="title">
    </widget-header>

    <div class="ui grid">
        <div class="row">
            <div *ngIf="!inConfig" style="min-height: 275px">
                <ngx-charts-bubble-chart
                        [legend]="showLegend"
                        [results]="data"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [view]="view"
                        [xAxisLabel]="xAxisLabel"
                        [xAxis]="showXAxis"
                        [yAxisLabel]="yAxisLabel"
                        [yAxis]="showYAxis">
                </ngx-charts-bubble-chart>
            </div>
        </div>
    </div>

    <dynamic-form (updatePropertiesEvent)="updateProperties($event)"
                  *ngIf="inConfig"
                  [widgetTags]="widgetTags"
                  [instanceId]="instanceId"
                  [config]="config">
    </dynamic-form>
</mat-card>


