<div #helpmodal_tag class="ui long modal">
    <div class="header">
        Help
    </div>

    <div class="ui basic segment">
        <br>
        <br>
        <p></p>

        <!--
            <h3 style="font-weight:600 !important">{{topic.heading}}</h3>
            <div *ngFor="let detail of topic.details" class="ui segment">
                <h4 style="font-weight:500 !important">{{detail.category}}</h4>

                <div class="ui divided items">
                    <div class="item" *ngFor="let article of detail.articles">
                        <div class="content">
                            <h5>{{article.headline}}</h5>
                            <div class="description">
                                <p>{{article.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
        <br><br>
    </div>
    <div class="actions">
        <div class="ui approve button">Close</div>
    </div>
</div>
