<div *ngIf="env.boardConfiguration.endpoint == true" class="ui equal width fields grid container">

    <div class="field six wide column">

        <table class="ui selectable celled table">
            <tbody>
            <tr (click)="setSelectedEndPoint(endPoint)" *ngFor="let endPoint of endPoints">
                <td [ngClass]="{'selected': endPoint.name == currentEndPoint.name}">{{endPoint.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="field ten wide column">

        <div *ngIf="currentEndPoint">

            <endpoint-detail (createEvent)="createEndPoint($event)"
                             (deleteEvent)="deleteEndPoint($event)"
                             (updateEvent)="updateEndPoint($event)"
                             [currentEndPoint]=currentEndPoint
            ></endpoint-detail>
        </div>

    </div>
</div>

<div *ngIf="env.boardConfiguration.endpoint == false">
    This feature is not ready yet!
</div>



