<div class="floated">
    <button (click)="remove()"
            mat-icon-button
            *ngIf="showControls || globalOptions.enableHover" class="right floated">
        <mat-icon>delete</mat-icon>
    </button>
    <button (click)="toggleConfigMode()"
            mat-icon-button
            *ngIf="showControls || globalOptions.enableHover && showConfigurationControl" class="right floated">
        <mat-icon>settings</mat-icon>
    </button>
    <button (click)="help()"
            mat-icon-button
            *ngIf="showControls || globalOptions.enableHover" class="right floated">
        <mat-icon>info</mat-icon>
    </button>
    <widget-operation-control (runEvent)="run()"
                              (stopEvent)="stop()"
                              *ngIf="showControls || globalOptions.enableHover"
                              [actionInitiated]="actionInitiated"
                              [gadgetHasOperationControls]="widgetHasOperationControls"
                              [inConfig]="inConfig"
                              [inRun]="inRun"
                              [showOperationControls]="showOperationControls">

    </widget-operation-control>

    <div class="ui top left floated label ct-title">{{title}}</div>
</div>
<mat-toolbar class="crm-dashboard-widget-toolbar">
    <mat-toolbar-row class="crm-dashboard-widget-toolbar-row">
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <button (click)="remove()"
                    mat-icon-button
                    class="crm-dashboard-widget-toolbar-button"
                    *ngIf="showControls || globalOptions.enableHover">
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="toggleConfigMode()"
                    mat-icon-button
                    *ngIf="showControls || globalOptions.enableHover && showConfigurationControl"
                    class="crm-dashboard-widget-toolbar-button">
                <mat-icon>settings</mat-icon>
            </button>
            <button (click)="help()"
                    mat-icon-button
                    *ngIf="showControls || globalOptions.enableHover"
                    class="crm-dashboard-widget-toolbar-button">
                <mat-icon>info</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<widget-operation-control (runEvent)="run()"
                          (stopEvent)="stop()"
                          *ngIf="showControls || globalOptions.enableHover"
                          [actionInitiated]="actionInitiated"
                          [gadgetHasOperationControls]="widgetHasOperationControls"
                          [inConfig]="inConfig"
                          [inRun]="inRun"
                          [showOperationControls]="showOperationControls">

</widget-operation-control>
<div class="spacer"></div>
