.widget {
    margin-bottom: 15px !important;
    min-height: inherit !important;
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, 'Lucida Grande', sans-serif;
    color: grey;
}

:host /deep/ div:not(.proppages) {
    margin-left: auto;
    margin-right: auto;
    display: block !important
}

#bt {
    text-align: center !important
}

.ui.top.left.floated.label, .ui.top.attached.label {
    background-color: white;
}

div.floated {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    padding: .75em 1em;
    border-radius: .21428571rem .21428571rem 0 0
}

button[class="right floated"] {
    float: right;
    margin-right: 0;
    margin-left: .25em
}

hr {
    font-weight: 300 !important;
    height: 1px;
    border-style: solid;
    color: black;

}

.ui[class*="top attached"].label:before {
    content: "";
    position: absolute;
    left: 2%;
    bottom: 5px;
    height: 1px;
    width: 95%; /* or 100px */
    border-bottom: 0px solid #d0d3d6;
}

.spacer {
    height: 2em;
}

.ui.items > .item > .content > .description {
    color: darkgray !important;
}

.suggestions > li {

    background-color: white !important;

}

td {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, 'Lucida Grande', sans-serif;
    color: grey;
}

th {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, 'Lucida Grande', sans-serif;
    color: #336699;
}


h4 {
    font-weight: 400;
}

.ui.segment {
    border: none;
}
