<div class="options-header" flex>
    <mat-form-field>
        <mat-select aria-label="Display grid lines" [(ngModel)]="options.displayGrid"
                    placeholder="Display grid lines"
                    (ngModelChange)="changedOptions()">
            <mat-option value="always">Always</mat-option>
            <mat-option value="onDrag&Resize">On Drag & Resize</mat-option>
            <mat-option value="none">None</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
        <mat-icon>add</mat-icon>
    </button>
</div>


<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
        <grid-cell [widgetType]="item.component"></grid-cell>
    </gridster-item>
</gridster>
<formio [form]="form">

</formio>
