<div class="adf-property-label">{{ property.label | translate }}</div>
<div class="adf-property-value">
    <span>
        <span [attr.data-automation-id]="'card-textitem-value-' + property.key">
            <span [innerHtml]="property.displayValue"></span>
        </span>
    </span>
</div>
