<div #drillmodal_tag class="ui long modal">
    <div class="header">
        <h2>{{modalheader}}</h2>
    </div>


    <div class="content">

        {{modalconfig}}


        <div class="ui grid">

            <div class="{{leftColumnWidth}} wide column">

                <h3>There are <span class="drill-down-blue">{{chartSelectedValue}} </span> item(s) <span
                        class="drill-down-blue">{{chartSelectedName}}</span></h3>
                <data-list

                        [facetTags]="facetTags"
                        [layoutColumnOneWidth]="layoutColumnOneWidth"
                        [layoutColumnTwoWidth]="layoutColumnTwoWidth"
                        [listHeader]="listHeader"
                        [objectList]="objects"
                        [objectTitleList]="objecNameList"
                        [placeHolderText]="placeHolderText">

                    <ng-template let-item="$implicit">


                        <mat-expansion-panel [dragEnabled]="true" dnd-draggable dragData={{item.name}}>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{item.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <p>Expansion data </p>

                        </mat-expansion-panel>

                    </ng-template>

                </data-list>


            </div>
            <div *ngIf="hideRightColumn == false" class="five wide column">

                <h3>Compliance Policies</h3>

                <div style="max-height: 600px; overflow-y: auto; overflow-x: hidden">

                    <div (onDropSuccess)="updateDropZone1($event)"
                         dnd-droppable>
                        <table class="ui small celled striped table">
                            <thead>
                            <tr>
                                <th>Policy A</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center"> ({{dropZone1Count}})</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div (onDropSuccess)="updateDropZone2($event)"
                         dnd-droppable>
                        <table class="ui small celled striped table">
                            <thead>
                            <tr>
                                <th>Policy B</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center">({{dropZone2Count}})</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div (onDropSuccess)="updateDropZone3($event)"
                         dnd-droppable>
                        <table class="ui small celled striped table">
                            <thead>
                            <tr>
                                <th>Policy C</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center">({{dropZone3Count}})</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <br>
        <div class="actions">
            <div class="ui approve button">Close</div>
        </div>
    </div>
</div>
