<div [dragData]="instanceId" [dragEnabled]="true"
     [dropZones]="['c0','c1','c2','c3','r0','r1']" class="ui center aligned  segment gadget" dnd-draggable>

    <a class="ui left corner label">
        <i [ngClass]="{'green':inRun, 'yellow':!inRun}" class="heart icon"></i>
    </a>
    <widget-header
            (helpEvent)="helpModal.showHelp()"
            (mouseleave)="showWidgetControls(false)"
            (mouseover)="showWidgetControls(true)"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (toggleConfigModeEvent)="toggleConfigMode()"
            [actionInitiated]="actionInitiated"
            [widgetHasOperationControls]="gadgetHasOperationControls"
            [globalOptions]="globalOptions"
            [inConfig]="inConfig"
            [inRun]="inRun"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            [showOperationControls]="showOperationControls"
            [title]="title">
    </widget-header>

    <div class="ui grid">
        <div class="row">
            <!--<div>{{avail}} {{used}}</div> -->
            <div *ngIf="!inConfig" style="min-height: 270px">

                <ngx-charts-pie-chart (select)="drillDownPopUp.showDrillDownDetail($event)"
                                      *ngIf="!inConfig"
                                      [arcWidth]=".5"
                                      [doughnut]="true"
                                      [explodeSlices]="false"
                                      [gradient]="false"
                                      [labels]="false"
                                      [legendTitle]="legendTitle"
                                      [legend]="true"
                                      [results]="data"
                                      [scheme]="colorScheme"
                                      [view]="view">
                </ngx-charts-pie-chart>

            </div>
        </div>
    </div>

    <dynamic-form (updatePropertiesEvent)="updateProperties($event)"
                  *ngIf="inConfig"
                  [widgetTags]="widgetTags"
                  [instanceId]="instanceId"
                  [propertyPages]="configPages">
    </dynamic-form>

    <app-error-handler
            [errorExists]="errorExists"
            [errorObject]="errorObject">
    </app-error-handler>

    <app-drill-down-modal #drillDownPopUp></app-drill-down-modal>

    <app-help-modal #helpModal [topic]="topic"></app-help-modal>

    <br>
    <div [@accordion]="detailMenuOpen" style="display: block !important;">
        <h2>Detail Content</h2>
    </div>


    <div *ngIf="!inConfig" class="ui bottom right attached label" style="background-color: white"><i
            (click)="toggleAccordion()" [ngClass]="{'up':detailMenuOpen == 'in', 'down': detailMenuOpen=='out'}"
            class="large chevron icon"
            style="color:lightgrey"></i></div>


    <div *ngIf="actionInitiated" class="ui bottom attached" style="width:33%">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

