<div [attr.data-automation-id]="'card-name-item-label-' + property.key" class="adf-property-label"
     *ngIf="showProperty() || isEditable()">{{ property.label | translate }}
</div>
<div class="adf-property-value">
    <span *ngIf="!isEditable()">
        <span *ngIf="!isClickable(); else elseBlock"
              [attr.data-automation-id]="'card-name-titem-value-' + property.key">
            <span *ngIf="showProperty()">{{ displayValue }}</span>
        </span>
        <ng-template #elseBlock>
        <div class="adf-textitem-clickable" (click)="clicked()" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="adf-textitem-clickable-value"
                  [attr.data-automation-id]="'card-textitem-value-' + property.key">
                <span *ngIf="showProperty(); else elseEmptyValueBlock">{{ displayValue }}</span>
            </span>
            <mat-icon *ngIf="hasIcon()" fxFlex="0 0 auto"
                      [attr.data-automation-id]="'card-textitem-edit-icon-' + property.icon" class="adf-textitem-icon">{{ property.icon }}</mat-icon>
        </div>
        </ng-template>
    </span>
    <span *ngIf="isEditable()">
        <div *ngIf="!inEdit" (click)="setEditMode(true)" class="adf-textitem-readonly"
             [attr.data-automation-id]="'card-textitem-edit-toggle-' + property.key" fxLayout="row"
             fxLayoutAlign="space-between center">
            <span [attr.data-automation-id]="'card-textitem-value-' + property.key">
                <span *ngIf="showProperty(); else elseEmptyValueBlock">{{ displayValue }}</span>
            </span>
            <mat-icon fxFlex="0 0 auto"
                      [attr.data-automation-id]="'card-textitem-edit-icon-' + property.key"
                      [attr.title]="'CORE.METADATA.ACTIONS.EDIT' | translate"
                      class="adf-textitem-icon">create</mat-icon>
        </div>
        <div *ngIf="inEdit" class="adf-textitem-editable">
            <div class="" fxLayout="column" fxLayoutAlign="space-between start">
                <div>
                    <mat-form-field floatPlaceholder="never">
                        <input #phonr1Input
                               matInput
                               [placeholder]="'Phone 1'"
                               [(ngModel)]="editedPhone1"
                               [attr.data-automation-id]="'card-textitem-titleinput-' + property.key">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field floatPlaceholder="never" fxFlex="3 3 auto" class="adf-input-container">
                        <input #phone2Input
                               matInput
                               class="adf-input"
                               [placeholder]="'Phone 2'"
                               [(ngModel)]="editedPhone2"
                               [attr.data-automation-id]="'card-textitem-firstnameinput-' + property.key">
                    </mat-form-field>
                </div>
                <div>
                    <mat-icon
                            class="adf-textitem-icon adf-update-icon"
                            (click)="update()"
                            [attr.title]="'CORE.METADATA.ACTIONS.SAVE' | translate"
                            [attr.data-automation-id]="'card-textitem-update-' + property.key">done</mat-icon>
                    <mat-icon
                            class="adf-textitem-icon adf-reset-icon"
                            (click)="reset()"
                            [attr.title]="'CORE.METADATA.ACTIONS.CANCEL' | translate"
                            [attr.data-automation-id]="'card-textitem-reset-' + property.key">clear</mat-icon>
                </div>
            </div>
            <mat-error [attr.data-automation-id]="'card-textitem-error-' + property.key"
                       class="adf-textitem-editable-error"
                       *ngIf="hasErrors()">
                <ul>
                    <li *ngFor="let errorMessage of errorMessages">{{ errorMessage | translate }}</li>
                </ul>
            </mat-error>
        </div>
    </span>
    <ng-template #elseEmptyValueBlock>
        <span class="adf-textitem-default-value">{{ property.default | translate }}</span>
    </ng-template>
</div>