<div>
    <mat-dialog-title class="m-0 light-gray">
        <div>
            <h2>Configuration</h2>
        </div>
    </mat-dialog-title>
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Boards">
                <boards-config (dashboardCreateEvent)="createBoard($event)"
                               (dashboardDeleteEvent)="deleteBoard($event)"
                               (dashboardEditEvent)="editBoard($event)"
                               [dashboardList]="dashboardList">
                </boards-config>
            </mat-tab>
            <mat-tab label="Options">
                <options-config></options-config>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="">Close</button>
    </mat-dialog-actions>
</div>
