<mat-card>
    <mat-card-header>Widget Configuration</mat-card-header>
    <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Config">
                <json-form #form [model]="config"
                           [template]="template"
                           (dataEvent)="onData($event)">
                </json-form>
            </mat-tab>
            <mat-tab label="Data Source">
            </mat-tab>
        </mat-tab-group>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                    [disabled]="!formValid"
                    (click)="save()">Save
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>