<div [dragData]="instanceId" [dragEnabled]="true"
     [dropZones]="['c0','c1','c2','c3','r0','r1']" class="ui  center aligned segment gadget" dnd-draggable>

    <a class="ui left corner label">
        <i [ngClass]="{'green':inRun, 'yellow':!inRun}" class="circle icon"></i>
    </a>

    <widget-header
            (mouseleave)="showWidgetControls(false)"
            (mouseover)="showWidgetControls(true)"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (toggleConfigModeEvent)="toggleChartProperties()"
            [actionInitiated]="actionInitiated"
            [widgetHasOperationControls]="widgetHasOperationControls"
            [globalOptions]="globalOptions"
            [inConfig]="inConfig"
            [inRun]="inRun"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            [showOperationControls]="showOperationControls"
            [title]="title">
    </widget-header>

    <div class="ui grid">
        <div class="row">
            <div *ngIf="!inConfig" style="max-height: 300px; max-width: 400px; min-height: 300px">
                <ngx-charts-pie-chart
                        (select)="drillDownPopUp.showDrillDownDetail($event)"
                        *ngIf="!inConfig"
                        [arcWidth]=".5"
                        [doughnut]="showDonut"
                        [explodeSlices]="explodeSlices"
                        [gradient]="gradient"
                        [labels]="showLabels"
                        [legendTitle]="legendTitle"
                        [legend]="showLegend"
                        [results]="data"
                        [scheme]="colorScheme"
                        [view]="view">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>

    <!-- use the side bar content -->
    <div #chartOptionsSideBar_tag *ngIf="globalOptions.displayGadgetOptionsInSideBar == true"
         class="ui sidebar left vertical menu">
        <br>
        <div class="ct-title">{{title}}</div>
        <br>
        <dynamic-form
                (updatePropertiesEvent)="updateProperties($event)"
                [widgetTags]="widgetTags"
                [instanceId]="instanceId"
                [propertyPages]="configPages">
        </dynamic-form>
    </div>


    <dynamic-form (updatePropertiesEvent)="updateProperties($event)"
                  *ngIf="inConfig && globalOptions.displayWidgetOptionsInSideBar === false"
                  [widgetTags]="widgetTags"
                  [instanceId]="instanceId"
                  [propertyPages]="configPages">
    </dynamic-form>

    <app-error-handler
            [errorExists]="errorExists"
            [errorObject]="errorObject">
    </app-error-handler>

    <drill-down-modal #drillDownPopUp></drill-down-modal>

</div>


