<div id="dashboardFilter" *ngIf="showFilter">
    <mat-card class="p-0">
        <mat-card-title class="m-0 light-gray">
            <div class="card-title-text" fxLayout="row wrap" fxLayoutAlign="center center">
                Apply Dashboard Filter
            </div>
        </mat-card-title>
        <mat-card-content [perfectScrollbar]>
            <div fxFlex="100">
                <input type="text" matInput
                       DateRangePicker
                       readonly
                       alwaysShowCalendars="true"
                       startKey="start"
                       endKey="end"
                        [locale]="{applyLabel: 'Ok', format: 'DD-MM-YYYY'}"
                        [ranges]="ranges"
                        (change)="dateChange()"
                        [(ngModel)]="selected"/>
            </div>
            <div fxFlex="100">
                <!--States-->
                <mat-form-field>
                    <mat-select placeholder="State"
                            (selectionChange)="stateChange($event.value)">
                        <mat-option>---</mat-option>
                        <mat-option *ngFor="let state of states" [value]="state">
                            {{state.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <!--LGAs-->
                <mat-form-field>
                    <mat-select placeholder="LGA"
                            (selectionChange)="lgaChange($event.value)">
                        <mat-option>---</mat-option>
                        <mat-option *ngFor="let lga of lgas" [value]="lga">
                            {{lga.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <!--Facilities-->
                <mat-form-field>
                    <mat-select placeholder="LGA"
                            (selectionChange)="facilityChange($event.value)">
                        <mat-option>---</mat-option>
                        <mat-option *ngFor="let facility of facilities" [value]="facility">
                            {{facility.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>



