<mat-toolbar color="primary">
    <button
            mat-icon-button
            id="sidenavToggle"
            (mouseenter)="toggleFilterComponent($event)"
            (mouseleave)="toggleFilterComponent($event)"
            matTooltip="Hide/Open Filter"
    >
        <mat-icon>filter_list</mat-icon>
    </button>
    <mat-tab-group (selectedTabChange)="emitBoardSelectEvent($event.tab.textLabel)">
        <mat-tab *ngFor="let board of dashboardList"
                label="{{board}}">
        </mat-tab>
    </mat-tab-group>
    <span fxFlex></span>
    <a (click)="showWidgetModal()"
            matTooltip="Add Widget">
        <mat-icon>add</mat-icon>
    </a>
    <a (click)="toggleLayoutSideBar()"
            matTooltip="Dashboard Layout Configuration">
        <mat-icon>dashboard</mat-icon>
    </a>
    <a (click)="showConfigurationModal()"
            matTooltip="Dashboard Configuration">
        <mat-icon>settings</mat-icon>
    </a>
</mat-toolbar>
<board-layout-manager (boardLayoutChangeEvent)="emitBoardChangeLayoutEvent($event)"
        [layoutId]="layoutId">
</board-layout-manager>
<dashboard-filter (filterChange)="emitFilterChangeEvent($event)">
</dashboard-filter>
