<div fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="center" class="widget-grid">
    <div *ngFor="let row of model.rows; let r = index"
         [ngClass]="{'short-row': row.columns.length > 3, 'tall-row': row.columns.length <= 3 }"
         fxLayout="row">
        <div (onDropSuccess)="updateWidgetPositionInBoard($event, c, r, 'column')"
             *ngFor="let col of row.columns; let c = index" [dropZones]="['c' + c]"
             fxLayout="column" fxFlex="{{col.flex}}" dnd-droppable>
            <div *ngIf="!col.widgets || col.widgets.length== 0"
                 [ngClass]="{'short-row': row.columns.length > 3, 'tall-row': row.columns.length <= 3 }"
                 fxLayoutAlign="center"
                 style="text-align:center">
                <span style="font-size: .75em">Add Widget!</span>
            </div>
            <mat-card style="padding: 0; margin: 0 5px" *ngFor="let cellWidget of col.widgets">
                <grid-cell [widgetConfig]="cellWidget.config"
                           [widgetInstanceId]="cellWidget.instanceId"
                           [widgetTags]="cellWidget.tags"
                           [widgetType]="cellWidget.componentType"
                >
                </grid-cell>
            </mat-card>
        </div>
    </div>
</div>
<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of items">
        <grid-cell [widgetConfig]="item.config"
                   [widgetInstanceId]="item.instanceId"
                   [widgetTags]="item.tags"
                   [widgetType]="item.componentType"
        >
        </grid-cell>
    </gridster-item>
</gridster>
