<div class="lamis-edit-form">
    <div class="lamis-edit-form-container">
        <mat-card *ngIf="module">
            <mat-card-title>
                Module Details
            </mat-card-title>
            <mat-card-content>
                <adf-card-view [properties]="properties"></adf-card-view>
                <mat-card-actions>
                    <button mat-button color="warn" (click)="uninstall()">Uninstall</button>
                    <button mat-raised-button *ngIf="module.active" color="accent" (click)="deactivate()">Deactivate</button>
                    <button mat-raised-button *ngIf="!module.active" color="primary"  (click)="activate()">Activate</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="webModules">
            <mat-card-title>
                Web Modules
            </mat-card-title>
            <mat-card-content fxLayout="row wrap">
                <mat-card fxFlex="100" fxFlex.gt-sm="50"
                          *ngFor="let mdx of webModules">
                    <mat-card-title>
                        {{mdx.title}}
                    </mat-card-title>
                    <mat-divider></mat-divider>
                    <h3>Required Roles</h3>
                    <ul>
                        <li *ngFor="let r of getRoles(mdx)">{{r}}</li>
                    </ul>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>
