<table [sortableData]="dashboardList" class="ui padded table" dnd-sortable-container>
    <thead>
    <th class="index-column">#</th>
    <th>Name</th>
    <th></th>
    </thead>
    <tr *ngFor="let board of dashboardList; let i = index" [sortableIndex]="i" class="ui basic segment"
        dnd-sortable>
        <td class="index-column">{{i + 1}}</td>
        <td>{{board}}</td>
        <td style="text-align:right">
            <a (click)="deleteBoard(board)" mat-mini-fab routerLink=".">
                <mat-icon>clear</mat-icon>
            </a>
        </td>
    </tr>
</table>

<mat-card>
    <mat-card-content>
        <mat-form-field class="full-width">
            <input [(ngModel)]="newDashboardItem" matInput placeholder="Enter Dashboard Name">
        </mat-form-field>

        <a (click)="createBoard(newDashboardItem)" color='primary' mat-mini-fab routerLink=".">
            <mat-icon>add</mat-icon>
        </a>
    </mat-card-content>
</mat-card>
